__pycache__/
.ipynb_checkpoints/
processed
voices_input
samplers
voices_output
outputs
outputs_v2
checkpoints
checkpoints_v2
trash
examples*
.env
build
*.egg-info/
*.zip
2_multiple_voice_clone.py
concatenated_audio